// ////////////////////////////////////////////////////////////////// Typography
// -----------------------------------------------------------------------------
// -------------------------------------------------------------------- Families
$font_Primary: 'Inter', sans-serif, monospace;
$font_Secondary: 'Montserrat', sans-serif, monospace;

// ---------------------------------------------------------------------- Sizing
// fontSize_Mini | 11pt
// fontSize_Small | 14pt
// fontSize_Regular | 16pt
// fontSize_Medium | 18pt
// fontSize_Large | 20pt
// fontSize_ExtraLarge | 24pt
// fontSize_ExtraMediumLarge | 28pt
// fontSize_ExtraExtraLarge | 50pt

$fontSize_Mini: 0.6875rem;
$fontSize_Small: 0.875rem;
$fontSize_Regular: 1rem;
$fontSize_Medium: 1.125rem;
$fontSize_Large: 1.25rem;
$fontSize_ExtraLarge: 1.5rem;
$fontSize_ExtraMediumLarge: 1.75rem;
$fontSize_ExtraExtraLarge: 3.125rem;

// ///////////////////////////////////////////////////////////////////// General
// -----------------------------------------------------------------------------
// -------------------------------------------------------------------- Coloring
$site_backgroundColor: #0b0f23; // Dark background for site
$font_Color_Primary: #e0e5ff; // Light primary font color
$font_Color_Secondary: #b3b3b3; // Lighter secondary font color

$fill_Dark_Primary: #041727; // Dark blue for primary fills
$fill_Dark_Secondary: #1a1f36; // Darker blue for secondary fills
$fill_Light: #e0e5ff; // Light color for highlights

$highlight_Light: #6bc4ce; // Teal color for light highlights
$highlight_Medium: #3d8f96; // Medium teal for active elements
$highlight_Dark: #34797d; // Dark teal for hover states

$border_Color_Light: #e0e5ff; // Light border color for subtle dividers
$border_Color_Medium: #b3b3b3; // Medium border color for body elements
$border_Color_Dark: #1a1f36; // Dark border color for containers and cards
